.card {
    width: 600px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    font-family: 'Adamina';
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.7);
}

.image-name-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-name {
    margin: 0;
    margin-top: 10px;
    font-weight: 900;
    margin-left: 10px;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Licorice';
}

.card-message {
    margin-top: 23px;
    margin-left: 20px;
    padding-bottom: 30px;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Adamina';
}

.circle {
    position: absolute;
    top: 5%;
    right: 3%;
    background-color: transparent;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 33px;
    font-family: Cochin;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

.circle:hover {
    background-color: rgb(58, 212, 212);
}

.dots {
    margin-bottom: 20px;
}

.comments {
    position: absolute;
    bottom: 0;
    right: 3%;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.arrow {
    font-size: 20px;
    margin-bottom: -5px;
}

.counter {
    margin-right: 5px;
}

@media screen and (max-width: 1096px) {
    .card {
        width: 500px;
    }
}

@media screen and (max-width: 811px) {
    .card {
        width: 400px;
    }
}

@media screen and (max-width: 424px) {
    .card {
        width: 300px;
    }
}

